body {
  font-family: 'Raleway', sans-serif;
}

a:hover {
  text-decoration: none;
}


#desktopfeed {
  background-color: black;
  height: 100%;
  width: 80%;
  position: absolute;
  right: 0;
  /* background-image: url(../imgs/perspective.jpg);
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* display: flex;
  justify-content: center;
  align-items: flex-end; */
}

.background-photo {
  background-image: url(imgs/perspective.jpg);
  /* background-color: cadetblue; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.fa-angle-double-down {
  font-size: 50px;
  color: grey;
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.feedbacki {
  color: white;
}

#mobilefeed {
  background-color: black;
  height: 92%;
  width: 100%;
  /* background-image: url(../imgs/perspective.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end; */
}

.bg-light {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6)!important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 30%;
  position: fixed;
  left: 0;
}

.topmenu {
  /* width: 15rem;
  display: flex;
  justify-content: space-around; */
  width: 15rem;
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  /* padding-top: 3rem; */
}

.topmenu a {
  color: black;
  outline: none;
  text-decoration: none;
}

.contact a {
  color: black;
  padding-left: 1rem;
}

.title {
  font-family: 'Roboto Mono', monospace;
  font-size: 1,5rem;
}

.feedbacks {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: cadetblue;
}

h2 {
  text-align: center;
  width: 50%;
}

.feedbackname {
  font-weight: bold;
}

#carouselExampleControls {
  width: 50%;
  height: 200px;
}

.carousel-item {
  text-align: center;
}

.carousel-control-prev {
  left: -100px;
}

.carousel-control-next {
  right: -100px;
}

.clients {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  height: 60%;
  background-color: #EFF0F4;
}

.client {
  width: 33%;
}

.client a {
  display: flex;
  justify-content: center;
}

.clientimage {
  width: 90%;
  margin-top: 22px;
  object-fit: contain;
}

#contact {
  height: 50%;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactbutton {
  padding: 10px;
  background: cadetblue;
  color: white;
  text-align: center;
  border: 2px solid #EFF0F4;
  border-radius: 3px;
  font-size: 20px;
}

#contactbutton:hover {
  background: #EFF0F4;
  color: cadetblue;
  border: 2px solid cadetblue;
}

#mobile nav {
  width: 100%;
}

.carousel-inner {
  margin-top: -30%;
}
