body {
  font-family: 'Raleway', sans-serif;
}

.category {
  font-weight: 600;
}

#desktopfeed {
  background-color: black;
  /* height: 100%; */
  width: 80%;
  position: absolute;
  right: 0;
  background-color: #EFF0F4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.worktitle {
  padding:80px;
}

.categorydesktop {
  padding: 80px;
}

.categorytext {
  padding-top: 25px;
}

a:hover {
  text-decoration: none;
}

.details {
  border:none;
}

.card-header {
  background-color: white;
}

.details-btn {
  text-decoration: none;
  color: black;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.details-btn:hover {
  text-decoration: none;
  color: black;
}

.details-btn:focus {
  text-decoration: none;
}

.fa-plus {
  font-size: 12;
  margin: 5px;
  color: grey;
}

#mobilefeed {
  background-color: black;
  height: auto;
  width: 100%;
  /*background-image: url(../imgs/perspective.jpg);*/
  background-color: #EFF0F4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.categorymobile {
  padding: 50px;
}

.bg-light {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6)!important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 30%;
  position: fixed;
  left: 0;
}

.topmenu {
  width: 15rem;
  display: flex;
  flex-direction: column;
}

.topmenu a {
  color: black;
  outline: none;
  text-decoration: none;
}

.contact a {
  color: black;
  padding-left: 1rem;
}

.title {
  font-family: 'Roboto Mono', monospace;
  font-size: 1,5rem;
}

#mobile nav {
  width: 100%;
}